

.edit-link{
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.cr{
  border: 1px solid rgb(163, 38, 38);
  margin: 10px;
  border-radius: 5px;

}
 .cr:hover{
   background-color: rgba(94, 94, 94, 0.473);
   transform: scale(1.1);
 }